[submodule "interactive-rating-component-challenge-on-frontend-mentor"]
	path = interactive-rating-component-challenge-on-frontend-mentor
	url = https://github.com/HazemLenin/interactive-rating-component-challenge-on-frontend-mentor.git
[submodule "qr-code-component-challenge-on-frontend-mentor"]
	path = qr-code-component-challenge-on-frontend-mentor
	url = https://github.com/HazemLenin/qr-code-component-challenge-on-frontend-mentor
[submodule "huddle-landing-page-with-curved-sections-solution"]
	path = huddle-landing-page-with-curved-sections-solution
	url = https://github.com/HazemLenin/huddle-landing-page-with-curved-sections-solution.git
[submodule "sunnyside-agency-landing-page-solution"]
	path = sunnyside-agency-landing-page-solution
	url = https://github.com/HazemLenin/sunnyside-agency-landing-page-solution.git
[submodule "daily-cafe"]
	path = daily-cafe
	url = https://github.com/HazemLenin/daily-cafe
