[submodule "interactive-rating-component-challenge-on-frontend-mentor"]
	path = interactive-rating-component-challenge-on-frontend-mentor
	url = https://github.com/HazemLenin/interactive-rating-component-challenge-on-frontend-mentor
