@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.nav-link::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.nav-link.active::after {
  width: 100%;
}

.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 100vh;
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  z-index: 1040;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.sidenav.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

ul.navbar-nav {
  padding-top: 30px;
}

ul.navbar-nav > li {
  padding-left: 30px;
}

.section-1 {
  background: #343a40be;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

.section-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: url("../assets/images/close-up-man-writing-code-laptop.jpg");
  background-size: cover;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

#cursor {
  height: inherit;
  width: 0;
  border: 1px solid;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}

@-webkit-keyframes blink {
  0% {
    border-color: white;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: white;
  }
}

@keyframes blink {
  0% {
    border-color: white;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: white;
  }
}

ul.skills {
  padding-left: 40px;
}

ul.skills li.list-skill#html {
  text-shadow: var(--skill-shadow) #e34c26;
}

ul.skills li.list-skill#css {
  text-shadow: var(--skill-shadow) #264de4;
}

ul.skills li.list-skill#js {
  text-shadow: var(--skill-shadow) #f0db4f;
}

ul.skills li.list-skill#sql {
  text-shadow: var(--skill-shadow) #081c7b;
}

ul.skills li.list-skill#py {
  text-shadow: var(--skill-shadow) #0d1c4d;
}

ul.skills li.list-skill#dj {
  text-shadow: var(--skill-shadow) #092e20;
}

ul.skills li.list-skill#java {
  text-shadow: var(--skill-shadow) #f89820;
}

ul.skills li.list-skill#ror {
  text-shadow: var(--skill-shadow) #cc0000;
}

ul.skills li.list-skill#react {
  text-shadow: var(--skill-shadow) #04d8f9;
}

.section-2 {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--bs-dark)), color-stop(50%, var(--bs-dark)));
  background: linear-gradient(90deg, var(--bs-dark) 50%, var(--bs-dark) 50%);
}

.section-2 h1.title {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(50%, #fff));
  background: linear-gradient(90deg, #fff 50%, #fff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.col-dark, .col-white {
  color: white;
}

@media only screen and (min-width: 992px) {
  .section-2 {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--bs-dark)), color-stop(50%, #fff));
    background: linear-gradient(90deg, var(--bs-dark) 50%, #fff 50%);
  }
  .section-2 h1.title {
    text-align: center;
    white-space: nowrap;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(50%, var(--bs-dark)));
    background: linear-gradient(90deg, #fff 50%, var(--bs-dark) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .col-white {
    color: var(--bs-dark);
  }
}

.section-3 .container .row div {
  margin: 15px auto;
}

.section-3 .container .row div .card {
  overflow: hidden;
  border-radius: 25px;
  -webkit-transition: .3s;
  transition: .3s;
}

.section-3 .container .row div .card:hover {
  -webkit-box-shadow: 3px 3px 10px #00000080;
          box-shadow: 3px 3px 10px #00000080;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.contact-nav {
  cursor: default;
}

.contact-link {
  display: inline-block;
  margin: 10px;
  background: var(--bs-dark);
  border-radius: 25px;
  width: 70px;
  height: 70px;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.contact-link:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.contact-link i {
  line-height: 70px;
  font-size: 35px;
  color: white;
}

.contact-link:nth-child(1):hover {
  -webkit-box-shadow: 3px 3px 3px #4267B2;
          box-shadow: 3px 3px 3px #4267B2;
}

.contact-link:nth-child(1):hover i {
  color: #4267B2;
}

.contact-link:nth-child(2):hover {
  -webkit-box-shadow: 3px 3px 3px #8a3ab9;
          box-shadow: 3px 3px 3px #8a3ab9;
}

.contact-link:nth-child(2):hover i {
  color: #8a3ab9;
}

.contact-link:nth-child(3):hover {
  -webkit-box-shadow: 3px 3px 3px #25D366;
          box-shadow: 3px 3px 3px #25D366;
}

.contact-link:nth-child(3):hover i {
  color: #25D366;
}

.contact-link:nth-child(4):hover {
  -webkit-box-shadow: 3px 3px 3px #e40b0b;
          box-shadow: 3px 3px 3px #e40b0b;
}

.contact-link:nth-child(4):hover i {
  color: #e40b0b;
}

:root {
  --dark-theme: var(---bs-dark);
  --skill-shadow: 10px 10px 60px;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  -webkit-transition: .3s;
  transition: .3s;
}

#up-btn {
  opacity: 0;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--bs-dark);
  color: white;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  font-size: 18px;
  -webkit-box-shadow: 2px 2px 3px #121212;
          box-shadow: 2px 2px 3px #121212;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#up-btn:hover {
  background-color: #555;
}

.title {
  text-transform: uppercase;
  font-size: 3rem;
}
/*# sourceMappingURL=style.css.map */