.section-1 {
    background: #343a40be;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
}

.section-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: url('../assets/images/close-up-man-writing-code-laptop.jpg');
    background-size: cover;
    filter: blur(5px);
}

// making typing effect

// making empry div with blinking border
#cursor {
    height: inherit;
    width: 0;
    border: 1px solid;
    animation: blink 1s infinite;
}

// blink animation
@keyframes blink {
    0% {
        border-color: white;
    }

    50% {
        border-color: transparent;
    }

    100% {
        border-color: white;
    }
}

ul.skills {
    padding-left: 40px;

    li.list-skill#html {
        text-shadow: var(--skill-shadow) #e34c26;
    }

    li.list-skill#css {
        text-shadow: var(--skill-shadow) #264de4;
    }

    li.list-skill#js {
        text-shadow: var(--skill-shadow) #f0db4f;
    }

    li.list-skill#sql {
        text-shadow: var(--skill-shadow) #081c7b;
    }

    li.list-skill#py {
        text-shadow: var(--skill-shadow) #0d1c4d;
    }

    li.list-skill#dj {
        text-shadow: var(--skill-shadow) #092e20;
    }

    li.list-skill#java {
        text-shadow: var(--skill-shadow) #f89820;
    }

    li.list-skill#ror {
        text-shadow: var(--skill-shadow) #cc0000;
    }

    li.list-skill#react {
        text-shadow: var(--skill-shadow) #04d8f9;
    }
}

// scroll down btn
// .scroll-down {
//     animation: fade-in-up .5s 1s ease-out;
// }

// @keyframes fade-in-up {

// }