// split background color in mobile version
.section-2 {
    background: linear-gradient(90deg, var(--bs-dark) 50%, var(--bs-dark) 50%);

}

// split background color in mobile version
.section-2 h1.title {
    background: linear-gradient(90deg, #fff 50%, #fff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// split background color of columns in mobile version
.col-dark, .col-white {
    color: white;
}

// ////////////////////////////////////////////////////////////////

// desktop & laptop
@media only screen and (min-width: 992px) {
    // changing the color of the splitted background
    .section-2 {
        background: linear-gradient(90deg, var(--bs-dark) 50%, #fff 50%);
    }

    // changing the color of the splitted title
    .section-2 h1.title {
        text-align: center;
        white-space: nowrap;
        background: linear-gradient(90deg, #fff 50%, var(--bs-dark) 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    // changing the white column text color
    .col-white {
        color: var(--bs-dark);
    }
}
