// initializing variables
$social-size: 70px;
$social-box-shadow: 3px 3px 3px;
$facebook: #4267B2;
$instagram: #8a3ab9;
$whatsapp: #25D366;
$gmail: #e40b0b;


.contact-nav {
    cursor: default;
}

// outer box for every the social link
.contact-link {
    display: inline-block;
    margin: 10px;
    background: var(--bs-dark);
    border-radius: 25px;
    width: $social-size;
    height: $social-size;
    transition: all .3s;
    cursor: pointer;
}

// make it little bit higher when hovering it
.contact-link:hover {
    transform: translateY(-3px);
}

// changing icon font size to fit the box
.contact-link i {
    line-height: $social-size;
    font-size: $social-size / 2;
    color: white;
}

// adding shadow color for each link
.contact-link:nth-child(1) {
    
    &:hover {
        box-shadow: $social-box-shadow $facebook;
        i {
            color: $facebook;
        }
    }
}

.contact-link:nth-child(2) {
    
    &:hover {
        box-shadow: $social-box-shadow $instagram;
        i {
            color: $instagram;
        }
    }
}

.contact-link:nth-child(3) {
    
    &:hover {
        box-shadow: $social-box-shadow $whatsapp;
        i {
            color: $whatsapp;
        }
    }
}

.contact-link:nth-child(4) {
    
    &:hover {
        box-shadow: $social-box-shadow $gmail;
        i {
            color: $gmail;
        }
    }
}